.contact {
    background-image: url(../images/map-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #212529;
    width: 100%;

    .section-top {
        .section-title {
            color: $color-white;
        }
    }

    .contact__section{
        &-inputs {
            .form-group {
                padding-right: 20px;
                position: relative;
            }
        }

        &-textarea {
           height: 230px;
        }

        &-inputs,
        &-textarea {
            width: 49.7%;
            display: inline-block;
            vertical-align: top;

            .form-group {
                margin-bottom: 40px;

                input {
                    width: 100%;
                    height: 50px;
                    padding-left: 15px;
                    border-bottom: 2px solid transparent;
                    background-color: $color-white;
                    font-family: $MontserratRegular;
                    border-radius: 3px;
                    transition: all 0.5s;
                    @include display($align: center);

                    &:focus {
                        border-bottom: 3px solid #55c57a;
                    }

                    &:focus:invalid {
                        border-bottom: 3px solid #ff7730;
                    }

                    &::-webkit-input-placeholder {
                        color: $color-black1;
                        font-family: $MontserratBold;
                      }
                }

                textarea {
                    width: 100%;
                    height: 100%;
                    padding-left: 20px;
                    padding-top: 18px;
                    border-radius: 5px;
                    font-family: $MontserratRegular;
                    background-color: $color-white;
                    transition: all 0.5s;
                    &:focus {
                        border-bottom: 3px solid #55c57a;
                    }

                    &:focus:invalid {
                        border-bottom: 3px solid #ff7730;
                    }
                }

                input::placeholder,
                .textarea::placeholder {
                    color: $color-gray3;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $MontserratBold;
                    text-transform: uppercase;
                }
            }
        }
        &-textarea {
            .form-group{
                height: 100%;
                position: relative;
                margin-bottom: 0;
            }
        }

        &-inputs {
            .form-group:nth-child(3){
                margin-bottom: 0;
            }
        }

        &-btn {
            @include display($justify: center);
            margin-top: 30px;
            button {
                cursor: pointer;
            }
        }
    }
}


@media (max-width: 768px){
    .contact {
        .contact__section {
            @include display($direction: column);

            &-inputs {
                .form-group {
                    padding-right: 0;
                }
            }

            &-inputs,
            &-textarea {
                width: 100%;
            }

            &-textarea {
                height: 250px;
                margin-top: 30px;
            }
        }
    }
}