// fonts
$MontserratRegular: 'MontserratRegular';
$MontserratBold: 'MontserratBold';
$DroidSerifItalic: 'DroidSerifItalic';
$RobotoRegular: 'RobotoRegular';
$RobotoBold: 'RobotoBold';


// colors
$color-yellow: #fed136;
$color-black1: #222222;
$color-black2: #333333;

$color-gray1: #6c757d;
$color-gray2: #777777;
$color-gray3: #bbbbbb;
$color-white: #fff;


// hover colors
$color-red: #cb2028;
$color-blue: #3b5998;
$color-sky: #00aced;
$color-orange: #d95232;


// spinner loader
$dot-color: #FD3739;
$dot-size: 20px;
$circle-size: 55px;
$animation-time: 5s;